.alert{
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 10%;
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    width: 60%;
  }
  @media only screen and (min-width: map-get($grid-breakpoints, lg)){
    width: 40%;
  }
  &.alert-danger{
    .alert-heading.h4{
      color: #8d3434;
    }
  }
}