$modal-padding: 1.7rem;

.modal{
  &.fade .modal-dialog{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -67%);
  }
  .modal-content{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(142, 141, 208, 0.12);
    .modal-header{
      border: none;
      padding-left: $modal-padding;
      padding-right: $modal-padding;
      padding-top: 1.5rem;
      justify-content: center;
      .modal-title.h4{
        color: $black;
        font-weight: bold;
      }
      .btn-close{
        position: absolute;
        right: $modal-header-padding-x;
      }
    }
    .modal-body{
      padding-left: $modal-padding;
      padding-right: $modal-padding;
      color: $black;
      text-align: center;
    }
    .modal-footer{
      justify-content: center;
      border: none;
      padding-left: $modal-padding;
      padding-right: $modal-padding;
      padding-bottom: $modal-padding;
    }
  }



}
