.search-bar{
  svg{
    color: $black;
  }
}

.search-results-list{
  width: 100%;
  @media only screen and (min-width: map-get($grid-breakpoints, md)){
    width: 70%;
  }
  @media only screen and (min-width: map-get($grid-breakpoints, lg)){
    width: 30%;
  }
  max-height: 150px;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
  border-radius: 10px;
  margin-top: .3rem;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  li{
    padding: 12px 16px;
    &:hover{
      background-color: $grey-2;
      cursor: pointer;
    }
  }
  .spinner{

  }
}