@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

#forgot{
  max-width: 350px;
  margin: 5rem auto auto;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    max-width: 400px;
  }
  @media only screen and (min-width: map-get($grid-breakpoints, xxl)) {
    max-width: 500px;
  }

  Form {
    width: 100%;
    .form-floating {
      margin-bottom: 30px;
      width: 80%;
    }
  }
}