//$body-bg: #F4F3FE;
$body-bg: #EFF2F9;

$bg-white: #fff;

//Disabled color
$disabled: #dddddd !default;
$disabled-2: #F4F3FE !default;

//Nav width
$nav-width: 220px;

//Blues
$blue-1: #605DEC;
$blue-2: #3D3ACE;
$blue-3: #23209F;
$blue-4: #E2E1FF;
$blue-5: #E8E6F8;

//Black and grey
$black: #3d3d3d;
$grey: #727272;
$grey-2: #F8F8FA;
$grey-3: #828282;

//Pink
$pink: #F845FC;

//Purple
$purple: #C5C0DB !default;

//white
$white-2: #F6F5FF;

// Red
$red: #EB5757;

$primary: $blue-1 !default;
$primary-stroke: $pink !default;

//Cards spacers
$card-spacer-x: 2rem;
$card-spacer-y: 2rem;

//Btn padding
$btn-padding-y: .400rem !default;
$btn-padding-x: .95rem !default;